<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="MoodMove">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">

    <title>MoodMove</title>
    <!--The styling for the Type form stuff-->
    <style type="text/css">
        html {
            margin: 0;
            height: 100%;
            overflow: scroll;
        }
        
        body {
            background-image: url("background.jpg");
        }
        
        iframe {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            border: 0;
        }
        
        #timePlaceholder {
            font-size: 24;
            width: 200%;
            color: #38414f;
        }
    </style>
</head>

<body ng-controller="AppController" style="filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#C0CFE2', startColorstr='#FFFFFF', gradientType='0');">
    <!--Header-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <div class="row">
                        <div class="col-sm-12" style="align-content:center">
                            <!--<button class="btn btn-info" style="width:100%; margin-left:90px; margin-top:-7px; 
                                background-color:#efec17; color:#000000; border-style: solid;
                                border-color: #efec17 #efec17;" onclick="window.location.href='./mood.html'">
                                Next
                            </button>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </nav>

    <br>
    <div class="row">
        <div class="col-sm-11" style="margin-left:30px;margin-top:-30px; overflow-y: scroll;position:relative">
            <h3>Route</h3>
            <img src="../images/location1_wo.png" ng-click="" style="height:105px;width:350px;margin-top:8px">
            <button class="btn btn-xs btn-primary" style="margin-top:8px;margin-left:140px" onclick="window.location.href='https://www.google.de/maps/dir/Reichstag+Building,+Platz+der+Republik+1,+11011+Berlin/Brandenburg+Gate,+Pariser+Platz,+Berlin/@52.5174458,13.3740275,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47a851c741ee506d:0x641b52d3abf17de5!2m2!1d13.3761871!2d52.5186202!1m5!1m1!1s0x47a851c655f20989:0x26bbfb4e84674c63!2m2!1d13.377704!2d52.5162746?hl=en'">view route</button>
            <img src="../images/location2_wo.png" ng-click="" style="height:105px;width:350px;margin-top:8px">
            <button class="btn btn-xs btn-primary" style="margin-top:8px;margin-left:140px" onclick="window.location.href='https://www.google.de/maps/dir/Brandenburg+Gate,+Pariser+Platz,+Berlin/Memorial+to+the+Murdered+Jews+of+Europe,+Cora-Berliner-Stra%C3%9Fe,+Berlin/@52.5146898,13.3773174,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47a851c655f20989:0x26bbfb4e84674c63!2m2!1d13.377704!2d52.5162746!1m5!1m1!1s0x47a851c607196a5b:0x1434a79012ee5bc8!2m2!1d13.3787126!2d52.5139474?hl=en'">view route</button>
            <img src="../images/location3_wo.png" ng-click="" style="height:105px;width:350px;margin-top:8px">
            <button class="btn btn-xs btn-primary" style="margin-top:8px;margin-left:140px" onclick="window.location.href='https://www.google.de/maps/dir/Memorial+to+the+Murdered+Jews+of+Europe,+Cora-Berliner-Stra%C3%9Fe,+Berlin/Gendarmenmarkt,+Berlin/@52.5143496,13.3813138,16z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47a851c607196a5b:0x1434a79012ee5bc8!2m2!1d13.3787126!2d52.5139474!1m5!1m1!1s0x47a851da6e329be1:0x69ed42f426573790!2m2!1d13.3926698!2d52.5137224?hl=en'">view route</button>
            <img src="../images/location4_wo.png" ng-click="" style="height:105px;width:350px;margin-top:8px">
            <button class="btn btn-xs btn-primary" style="margin-top:8px;margin-left:140px" onclick="window.location.href='https://www.google.de/maps/dir/Gendarmenmarkt,+Berlin/Pergamonmuseum,+Bodestra%C3%9Fe,+Berlin/@52.5171471,13.388419,16z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47a851da6e329be1:0x69ed42f426573790!2m2!1d13.3926698!2d52.5137224!1m5!1m1!1s0x47a84e20050a834b:0x9d380546a98f5431!2m2!1d13.3969!2d52.521183?hl=en'">view route</button>
            <img src="../images/location5_wo.png" ng-click="" style="height:105px;width:350px;margin-top:8px">
            <button class="btn btn-xs btn-primary" style="margin-top:8px;margin-left:140px" onclick="window.location.href='https://www.google.de/maps/dir/Pergamonmuseum,+Bodestra%C3%9Fe,+Berlin/Berlin+Cathedral+Church,+Am+Lustgarten,+Berlin/@52.5194768,13.3963183,16.5z/data=!4m13!4m12!1m5!1m1!1s0x47a84e20050a834b:0x9d380546a98f5431!2m2!1d13.3969!2d52.521183!1m5!1m1!1s0x47a851def3c2d14b:0x780e68d5b02f8afc!2m2!1d13.401078!2d52.5190608?hl=en'">view route</button>
            <img src="../images/location6_wo.png" ng-click="" style="height:105px;width:350px;margin-top:8px">

            <button class="btn btn-xl btn-danger" style="margin-top:8px;margin-left:0px;width:90%" onclick="window.location.href='https://shop.bvg.de/index.php/tickets'">BUY TICKET</button>

        </div>
    </div>

    <!--Scripts for AMazon AWS for type forms, ANgularJS and app.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <script src="../app.js"></script>
</body>

</html>