<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="MoodMove">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">

    <title>MoodMove</title>
    <!--The styling for the Type form stuff-->
    <style type="text/css">
        html {
            margin: 0;
            height: 100%;
            overflow: scroll;
        }
        
        iframe {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            border: 0;
        }
        
        #timePlaceholder {
            font-size: 24;
            width: 200%;
            color: #38414f;
        }
    </style>
</head>

<body ng-controller="AppController" style="filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#C0CFE2', startColorstr='#FFFFFF', gradientType='0');">
    <!--Header-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <div class="row">
                        <div class="col-sm-12" style="align-content:center">
                            <button class="btn btn-info" style="width:100%; margin-left:110px; margin-top:-7px; 
                                background-color:#000000; color:#ffffff; border-style: solid;
                                border-color: #000000 #000000;" onclick="window.location.href='./mood.html'">
                                Next
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-11" style="margin-left:30px">
            <h3 id="timePlaceholder">I have {{selectedHour}} {{textHour}} to travel</h3>
            <br>
            <select style="width: 90%; margin-right:30px;margin-bottom: 1px" class="btn btn-default dropdown-toggle" ng-change="changeHour(selectedHour)" ng-model="selectedHour" ng-init="selectedHour='_____'">
                <option value="" selected>Hours you have</option>
                <option value="{{hour}}" ng-repeat="hour in hourList">
                        {{hour}}
                </option>
            </select>
        </div>
    </div>

    <br>
    <div class="row" ng-if="selectedHour!='_____'">
        <div class="col-sm-11" style="margin-left:30px">
            <h3>My mood is like</h3>
            <br>
            <img src="../images/chill.png" ng-click="goToItenary()" style="height:175px;width:175px">
            <img src="../images/party.png" ng-click="goToItenary()" style="height:175px;width:175px">
            <img src="../images/family.png" ng-click="goToItenary()" style="height:175px;width:175px;margin-top:3px">
            <img src="../images/romance.png" ng-click="goToItenary()" style="height:175px;width:175px;margin-top:3px">
        </div>
    </div>

    <!--Scripts for AMazon AWS for type forms, ANgularJS and app.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <script src="../app.js"></script>
</body>

</html>